<ul class="nav nav-stacked">
	<li class="nav-header">Menu</a></li>
	<li class="active"><a class="list-group-item" href="#">View student list</a></li>
	<li><a href="#" class="list-group-item">View class history</a></li>
	<li><a href="#" class="list-group-item">View payment history</a></li>
	<li><a href="#" class="list-group-item">Add new student</a></li>
	<li><a href="#" class="list-group-item">Add new class</a></li>
	<li><a href="#" class="list-group-item">Add manual payment</a></li>
</ul><!-- 
<hr>
<ul class="nav nav-stacked submenu">
	<li class="nav-header">Students</a></li>
	<li><a class="list-group-item" href="#">Test Student</a></li>
	<li><a href="#" class="list-group-item">Test student</a></li>
	<li><a href="#" class="list-group-item">Test student</a></li>
	<li><a href="#" class="list-group-item">Test student</a></li>
	<li><a class="list-group-item" href="#">Test Student<span class="label label-danger">Unpaid balance</span></a></li>
	<li><a href="#" class="list-group-item">Test student</a></li>
	<li><a href="#" class="list-group-item">Test student</a></li>
	<li><a href="#" class="list-group-item">Test student</a></li>
	<li><a class="list-group-item" href="#">Test Student</a></li>
	<li><a href="#" class="list-group-item">Test student</a></li>
	<li><a href="#" class="list-group-item">Test student</a></li>
	<li><a href="#" class="list-group-item">Test student</a></li>
</ul> -->